In [1]:
import findspark
findspark.init()
findspark.find()

from pyspark.sql import SparkSession
from pyspark import SparkContext, SparkConf

conf = SparkConf().set('spark.ui.port', '4050').set('spark.serializer', 'org.apache.spark.serializer.KryoSerializer')\
                  .set('spark.dynamicAllocation.enabled', 'true')\
                  .set('spark.shuffle.service.enabled', 'true')
#                   .set('spark.driver.maxResultSize', '5G')\
#                   .set('spark.executor.memory', '1G')\
#                   .set('spark.driver.memory', '1G')\
                  

sc = SparkContext(conf=conf)
spark = SparkSession.builder.master('local[*]').getOrCreate()

Данные находятся в файле Train_Set_90621.csv
Amount Defaulted - эту переменную нужно удалить=)

    1) Начните с анализа баланса классов, пропусков, статистик при помощи DataFrame API
    2) Посомтрите статистики, заполните пропуски при помощи уже MLlib
    3) Соберите пайплайн, похожий на наш, где будет обработка данных, обучение моделей и все при помощи Spark
    4) Разбейте данные на train/test + реализуйте подбор параметров одним из способов спарка
    5) Cохраниет пайплайн на диск

In [2]:
from pyspark.sql.functions import col,isnan, when, count
import pyspark.sql.functions as F
from pyspark.ml.feature import StringIndexer, IndexToString, OneHotEncoder
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.stat import Correlation
from pyspark.ml.feature import QuantileDiscretizer
from pyspark.ml.feature import Imputer
from pyspark.ml import Pipeline
from pyspark.ml.classification import LogisticRegression, DecisionTreeClassifier, RandomForestClassifier, GBTClassifier
from pyspark.ml.tuning import ParamGridBuilder, TrainValidationSplit, CrossValidator
from pyspark.ml.evaluation import BinaryClassificationEvaluator

import numpy as np
import matplotlib.pyplot as plt

### Read data

In [51]:
data = spark.read.csv('Train_Set_90621.csv', header=True, inferSchema=True)
data = data.drop('Amount Defaulted').withColumnRenamed('Default_Status', 'target')
data.printSchema()

root
 |-- Application ID: integer (nullable = true)
 |-- Bank Masked: string (nullable = true)
 |-- Bank Type: string (nullable = true)
 |-- Approved_Timestamp: string (nullable = true)
 |-- Name Masked: string (nullable = true)
 |-- Business Owner State: string (nullable = true)
 |-- Business_Industry_Type_Code: integer (nullable = true)
 |-- Approved_Year: integer (nullable = true)
 |-- New Business: integer (nullable = true)
 |-- Term: integer (nullable = true)
 |-- BankState: string (nullable = true)
 |-- Interest Rate: integer (nullable = true)
 |-- Employees: integer (nullable = true)
 |-- Gross Disbursed Amount: integer (nullable = true)
 |-- Term_years: integer (nullable = true)
 |-- Jobs Retained: integer (nullable = true)
 |-- Male to Female Employees Ratio: integer (nullable = true)
 |-- Expected Company Income: long (nullable = true)
 |-- Funds available with company: integer (nullable = true)
 |-- Gross_Apprv_Amount: integer (nullable = true)
 |-- Company Branch Code: integer (nullable = true)
 |-- City or Rural: integer (nullable = true)
 |-- Jobs Generated: integer (nullable = true)
 |-- Carry-forward Credit: string (nullable = true)
 |-- Documents Provided: string (nullable = true)
 |-- Balance Left: integer (nullable = true)
 |-- Final_Appved_Amount: integer (nullable = true)
 |-- target: integer (nullable = true)

In [39]:
data.show()

+--------------+---------------+---------+------------------+--------------------+--------------------+---------------------------+-------------+------------+----+-------------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+-------------------+------+
|Application ID|    Bank Masked|Bank Type|Approved_Timestamp|         Name Masked|Business Owner State|Business_Industry_Type_Code|Approved_Year|New Business|Term|    BankState|Interest Rate|Employees|Gross Disbursed Amount|Term_years|Jobs Retained|Male to Female Employees Ratio|Expected Company Income|Funds available with company|Gross_Apprv_Amount|Company Branch Code|City or Rural|Jobs Generated|Carry-forward Credit|Documents Provided|Balance Left|Final_Appved_Amount|target|
+--------------+---------------+---------+------------------+--------------------+--------------------+---------------------------+-------------+------------+----+-------------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+-------------------+------+
|    1020200001|  Bank_Name_316|  Private|        12-10-2005| Business_Name_10007|       Uttar Pradesh|                     525161|         2005|           1| 219|Uttar Pradesh|            3|       42|              18550000|        18|           18|                             4|                3500000|                      780590|          18550000|              25650|            1|             3|                   N|                 N|           0|           13912500|     0|
|    1020200002| Bank_Name_1062|     Govt|        21-11-2006|Business_Name_130906|       Uttar Pradesh|                       1231|         2006|           1|  71|Uttar Pradesh|            5|       20|               3045000|         6|           10|                            16|                1666667|                     1835637|           2450000|                  0|            1|             0|                   Y|                 N|           0|            1225000|     1|
|    1020200003|   Bank_Name_39|  Private|        28-11-2007|Business_Name_105953|       Uttar Pradesh|                     322442|         2007|           2|  84|  Maharashtra|            8|       16|               1750000|         7|           10|                             8|                1333333|                     2373333|           1750000|                  0|            2|             2|                   Y|                 N|           0|            1487500|     0|
|    1020200004|    Bank_Name_3|     Govt|        18-04-2009|Business_Name_103197|              Kerala|                       1231|         2009|           1| 300|        Delhi|            8|        4|              38850000|        25|            2|                             6|                 333333|                     2346786|          38850000|                  1|            1|             0|                   N|                 N|           0|           29137500|     0|
|    1020200005|  Bank_Name_126|     Govt|        23-11-2002|Business_Name_118932|               Delhi|                       1231|         2002|           2| 153|  Maharashtra|           11|        4|               2800000|        13|            0|                             8|                 333333|                     2382995|           2800000|                  1|            2|             0|                   N|                 Y|           0|            2380000|     0|
|    1020200006| Bank_Name_1281|  Private|        23-12-2009|Business_Name_135212|         Maharashtra|                     239391|         2009|           1|  84|  Maharashtra|            6|       10|              10500000|         7|            0|                            16|                 833333|                      392186|          10500000|                  1|            2|             0|                   N|                 Y|           0|            7875000|     0|
|    1020200007|   Bank_Name_33|  Private|        04-10-2009| Business_Name_60742|               Delhi|                     423561|         2009|           2|  60|        Delhi|            6|        2|               2310000|         5|            0|                             9|                 166667|                     2496022|           2310000|                  1|            0|             0|                   N|                 Y|           0|            1848000|     0|
|    1020200008|   Bank_Name_33|  Private|        03-03-2006| Business_Name_99424|       Uttar Pradesh|                     443530|         2006|           1|  60|        Delhi|            6|        6|               3500000|         5|            2|                             5|                 500000|                     1525676|           3500000|                  1|            0|             0|                   N|                 N|           0|            1750000|     0|
|    1020200009|Bank_Name_12778|     Govt|        03-08-2017|Business_Name_146709|             Haryana|                       1231|         2017|           2|  73|      Haryana|            5|        2|               4900000|         6|            0|                            10|                 166667|                     2358557|           4900000|                  1|            0|             0|                   N|                 Y|           0|            3920000|     0|
|    1020200010|   Bank_Name_17|  Private|        20-06-2017| Business_Name_17874|         Maharashtra|                     542341|         2017|           1| 120|        Delhi|           12|       60|              42000000|        10|            0|                            10|                5000000|                     1186740|          42000000|                  1|            0|             0|                   N|                 N|           0|           31500000|     0|
|    1020200011|Bank_Number_346|     Govt|        05-09-2010| Business_Name_17760|       Uttar Pradesh|                       1230|         2010|           1| 303|Uttar Pradesh|            8|        8|               9800000|        25|            0|                            21|               33600000|                     1547232|           9800000|                  1|            0|             0|                   N|                 N|           0|            7350000|     1|
|    1020200012|   Bank_Name_47|  Private|        15-09-2010| Business_Name_98384|             Haryana|                     813541|         2010|           1|  82|        Delhi|           11|        4|              19600000|         7|            0|                             4|                 333333|                      349235|          19600000|                  1|            2|             0|                   N|                 N|           0|           14700000|     0|
|    1020200013| Bank_Number_93|     Govt|        29-03-2010| Business_Name_65515|               Delhi|                       1230|         2010|           1|  24|        Delhi|           11|        5|               7910000|         2|            0|                            33|               33000000|                      267120|           7910000|                  1|            0|             0|                   N|                 N|           0|            5932500|     0|
|    1020200014|  Bank_Name_666|  Private|        18-09-2004| Business_Name_11879|         Maharashtra|                     625641|         2004|           1| 240|  Maharashtra|            8|       14|               6930000|        20|            4|                             3|                1166667|                     1323194|           6930000|                  1|            0|             3|                   N|                 N|           0|            6930000|     0|
|    1020200015|    Bank_Name_3|  Private|        19-05-2011|Business_Name_130563|              Kerala|                     446541|         2011|           1|  37|       Kerala|            5|        2|               1750000|         3|            1|                             4|                 166667|                      833449|           1750000|                  1|            0|             3|                   N|                 N|           0|            1487500|     1|
|    1020200016| Bank_Number_24|  Private|        13-12-2008| Business_Name_54437|       Uttar Pradesh|                       1230|         2008|           1| 286|Uttar Pradesh|           11|        4|              18970000|        24|            0|                            32|               25600000|                      698008|          18970000|                  1|            2|             0|                   N|                 N|           0|           14227500|     0|
|    1020200017|   Bank_Name_11|  Private|        08-08-2005|Business_Name_128762|               Delhi|                     543091|         2005|           1|  84|        Delhi|            6|       10|               4544750|         7|            5|                             9|                 833333|                     2026719|           3150000|                  0|            1|             0|                   N|                 N|           0|            1575000|     0|
|    1020200018|Bank_Name_36870|  Private|        25-03-2005|Business_Name_170801|         Maharashtra|                     448341|         2005|           1| 120|      Haryana|            6|       44|               5495000|        10|            0|                             5|                3666667|                     1152186|           5495000|                  1|            0|             0|                   N|                 Y|           0|            4396000|     0|
|    1020200019|  Bank_Name_344|  Private|        09-10-2005| Business_Name_57125|             Haryana|                     723341|         2005|           1|  83|      Haryana|            4|       12|               5180000|         7|            0|                            14|                1000000|                      436454|           5180000|                  1|            2|             0|                   N|                 Y|           0|            4144000|     0|
|    1020200020|Bank_Number_238|     Govt|        28-12-2010| Business_Name_34046|              Punjab|                     563220|         2010|           2|  60|       Punjab|            3|        4|               2800000|         5|            0|                            48|               19200000|                     1608192|           2800000|                  1|            0|             0|                   N|                 Y|           0|            2240000|     0|
+--------------+---------------+---------+------------------+--------------------+--------------------+---------------------------+-------------+------------+----+-------------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+-------------------+------+
only showing top 20 rows

In [4]:
# check Nan
data.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in data.columns]).show()

+--------------+-----------+---------+------------------+-----------+--------------------+---------------------------+-------------+------------+----+---------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+-------------------+------+
|Application ID|Bank Masked|Bank Type|Approved_Timestamp|Name Masked|Business Owner State|Business_Industry_Type_Code|Approved_Year|New Business|Term|BankState|Interest Rate|Employees|Gross Disbursed Amount|Term_years|Jobs Retained|Male to Female Employees Ratio|Expected Company Income|Funds available with company|Gross_Apprv_Amount|Company Branch Code|City or Rural|Jobs Generated|Carry-forward Credit|Documents Provided|Balance Left|Final_Appved_Amount|target|
+--------------+-----------+---------+------------------+-----------+--------------------+---------------------------+-------------+------------+----+---------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+-------------------+------+
|             0|         80|       80|               426|          1|                   3|                          0|            0|          36|   0|       81|            0|        0|                     0|         0|            0|                             0|                      3|                           0|                 0|                  0|            0|             0|                 978|               552|           0|                  0|     0|
+--------------+-----------+---------+------------------+-----------+--------------------+---------------------------+-------------+------------+----+---------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+-------------------+------+

In [5]:
data.count()

195118

In [6]:
# check application_id duplicates
data.select(col('Application ID')).groupBy('Application ID').count().filter('count > 1').show()

+--------------+-----+
|Application ID|count|
+--------------+-----+
+--------------+-----+

#### Fill Nans

In [21]:
data.select(col('Jobs Generated')).groupBy('Jobs Generated').count().sort(col('count').desc()).show()

+--------------+------+
|Jobs Generated| count|
+--------------+------+
|             0|136854|
|             1| 13475|
|             2| 12221|
|             3|  6196|
|             4|  4427|
|             5|  4016|
|            10|  2512|
|             6|  2330|
|             8|  1671|
|             7|  1319|
|            15|  1081|
|            12|   954|
|            20|   933|
|             9|   749|
|            25|   490|
|            11|   465|
|            30|   451|
|            14|   421|
|            13|   376|
|            16|   362|
+--------------+------+
only showing top 20 rows

In [47]:
data = data.fillna({'Bank Masked': 'Other', 
                    'Bank Type': 'Private', 
                    'Business Owner State': 'Delhi', 
                    'New Business': 1,
                    'BankState': 'Delhi',
                    'Carry-forward Credit': 'N',
                    'Documents Provided': 'N'})\
            .withColumn("BankState", when(col('BankState') == 0, 'Delhi').otherwise(col('BankState')))\
            .withColumn("New Business", when(col('New Business') == 0, 2).otherwise(col('New Business')))

In [48]:
# drop na for some cols
drop_na_cols = ['Approved_Timestamp', 'Name Masked']

data = data.dropna(subset=drop_na_cols)
data.count()

194691

In [49]:
# fill na with mean for numeric cols
fill_mean_cols = ['Expected Company Income']

imputer = Imputer(inputCols=fill_mean_cols, outputCols=fill_mean_cols, strategy='mean')
imputer = imputer.fit(data)
data = imputer.transform(data)
data.count()

194691

In [11]:
# check Nan again
data.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in data.columns]).show()

+--------------+-----------+---------+------------------+-----------+--------------------+---------------------------+-------------+------------+----+---------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+-------------------+------+
|Application ID|Bank Masked|Bank Type|Approved_Timestamp|Name Masked|Business Owner State|Business_Industry_Type_Code|Approved_Year|New Business|Term|BankState|Interest Rate|Employees|Gross Disbursed Amount|Term_years|Jobs Retained|Male to Female Employees Ratio|Expected Company Income|Funds available with company|Gross_Apprv_Amount|Company Branch Code|City or Rural|Jobs Generated|Carry-forward Credit|Documents Provided|Balance Left|Final_Appved_Amount|target|
+--------------+-----------+---------+------------------+-----------+--------------------+---------------------------+-------------+------------+----+---------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+-------------------+------+
|             0|          0|        0|                 0|          0|                   0|                          0|            0|           0|   0|        0|            0|        0|                     0|         0|            0|                             0|                      0|                           0|                 0|                  0|            0|             0|                   0|                 0|           0|                  0|     0|
+--------------+-----------+---------+------------------+-----------+--------------------+---------------------------+-------------+------------+----+---------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+-------------------+------+

### Create feature column as vector

In [50]:
index_cols = ['Bank Masked', 'Bank Type', 'Name Masked', 
              'Business Owner State', 'Business_Industry_Type_Code', 'New Business', 
              'BankState', 'Company Branch Code', 'City or Rural',
              'Carry-forward Credit', 'Documents Provided']

indexer_dict = {}

for column in index_cols:
    new_name = column.replace(" ", "_")+'_index'
#     print(f"{column}, {new_name}")
    indexer = StringIndexer(inputCol = column, outputCol = new_name)
    indexer = indexer.fit(data)
    data = indexer.transform(data)
    indexer_dict[new_name] = indexer

Py4JJavaError: An error occurred while calling o1793.fit.
: org.apache.spark.SparkException: Input column City or RuralCarry-forward Credit does not exist.
	at org.apache.spark.ml.feature.StringIndexerBase.$anonfun$validateAndTransformSchema$2(StringIndexer.scala:128)
	at scala.collection.TraversableLike.$anonfun$flatMap$1(TraversableLike.scala:293)
	at scala.collection.IndexedSeqOptimized.foreach(IndexedSeqOptimized.scala:36)
	at scala.collection.IndexedSeqOptimized.foreach$(IndexedSeqOptimized.scala:33)
	at scala.collection.mutable.ArrayOps$ofRef.foreach(ArrayOps.scala:198)
	at scala.collection.TraversableLike.flatMap(TraversableLike.scala:293)
	at scala.collection.TraversableLike.flatMap$(TraversableLike.scala:290)
	at scala.collection.mutable.ArrayOps$ofRef.flatMap(ArrayOps.scala:198)
	at org.apache.spark.ml.feature.StringIndexerBase.validateAndTransformSchema(StringIndexer.scala:123)
	at org.apache.spark.ml.feature.StringIndexerBase.validateAndTransformSchema$(StringIndexer.scala:115)
	at org.apache.spark.ml.feature.StringIndexer.validateAndTransformSchema(StringIndexer.scala:145)
	at org.apache.spark.ml.feature.StringIndexer.transformSchema(StringIndexer.scala:252)
	at org.apache.spark.ml.PipelineStage.transformSchema(Pipeline.scala:71)
	at org.apache.spark.ml.feature.StringIndexer.fit(StringIndexer.scala:237)
	at jdk.internal.reflect.GeneratedMethodAccessor202.invoke(Unknown Source)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:829)

In [35]:
# create sin/cos features from datetime col
data = data.withColumn('Approved_Timestamp', F.to_date(col("Approved_Timestamp"),"dd-MM-yyyy"))\
    .withColumn('Approved_year', F.year('Approved_Timestamp'))\
    .withColumn('Approved_month', F.month('Approved_Timestamp'))\
    .withColumn('Approved_dayofmonth', F.dayofmonth('Approved_Timestamp'))\
    .withColumn('Approved_dayofweek', F.dayofweek('Approved_Timestamp'))\
    .withColumn('cos_approved_month', F.cos(F.col('Approved_month') * 2 * np.pi / 12.))\
    .withColumn('sin_approved_month', F.sin(F.col('Approved_month') * 2 * np.pi / 12.))\
    .withColumn('cos_approved_dayofmonth', F.cos(F.col('Approved_dayofmonth') * 2 * np.pi / 31.))\
    .withColumn('sin_approved_dayofmonth', F.sin(F.col('Approved_dayofmonth') * 2 * np.pi / 31.))\
    .withColumn('cos_approved_dayofweek', F.cos(F.col('Approved_dayofweek') * 2 * np.pi / 7.))\
    .withColumn('sin_approved_dayofweek', F.sin(F.col('Approved_dayofweek') * 2 * np.pi / 7.))

+------------------+-------------+--------------+-------------------+------------------+--------------------+--------------------+-----------------------+-----------------------+----------------------+----------------------+
|Approved_Timestamp|Approved_year|Approved_month|Approved_dayofmonth|Approved_dayofweek|  cos_approved_month|  sin_approved_month|cos_approved_dayofmonth|sin_approved_dayofmonth|cos_approved_dayofweek|sin_approved_dayofweek|
+------------------+-------------+--------------+-------------------+------------------+--------------------+--------------------+-----------------------+-----------------------+----------------------+----------------------+
|        2005-10-12|         2005|            10|                 12|                 4|  0.5000000000000001| -0.8660254037844386|    -0.7587581226927909|     0.6513724827222223|   -0.9009688679024191|    -0.433883739117558|
|        2006-11-21|         2006|            11|                 21|                 3|  0.8660254037844384| -0.5000000000000004|   -0.44039415155763423|    -0.8978045395707417|    -0.900968867902419|   0.43388373911755823|
|        2007-11-28|         2007|            11|                 28|                 4|  0.8660254037844384| -0.5000000000000004|     0.8207634412072763|    -0.5712682150947924|   -0.9009688679024191|    -0.433883739117558|
|        2009-04-18|         2009|             4|                 18|                 7| -0.4999999999999998|  0.8660254037844387|    -0.8743466161445822|    -0.4853019625310808|                   1.0|  -2.44929359829470...|
|        2002-11-23|         2002|            11|                 23|                 7|  0.8660254037844384| -0.5000000000000004|   -0.05064916883871355|    -0.9987165071710528|                   1.0|  -2.44929359829470...|
|        2009-12-23|         2009|            12|                 23|                 4|                 1.0|-2.44929359829470...|   -0.05064916883871355|    -0.9987165071710528|   -0.9009688679024191|    -0.433883739117558|
|        2009-10-04|         2009|            10|                  4|                 1|  0.5000000000000001| -0.8660254037844386|     0.6889669190756866|     0.7247927872291199|    0.6234898018587336|    0.7818314824680298|
|        2006-03-03|         2006|             3|                  3|                 6|6.123233995736766...|                 1.0|     0.8207634412072763|     0.5712682150947923|    0.6234898018587334|   -0.7818314824680299|
|        2017-08-03|         2017|             8|                  3|                 5| -0.5000000000000004| -0.8660254037844384|     0.8207634412072763|     0.5712682150947923|   -0.2225209339563146|   -0.9749279121818236|
|        2017-06-20|         2017|             6|                 20|                 3|                -1.0|1.224646799147353...|    -0.6121059825476627|    -0.7907757369376986|    -0.900968867902419|   0.43388373911755823|
|        2010-09-05|         2010|             9|                  5|                 1|-1.83697019872102...|                -1.0|     0.5289640103269624|     0.8486442574947509|    0.6234898018587336|    0.7818314824680298|
|        2010-09-15|         2010|             9|                 15|                 4|-1.83697019872102...|                -1.0|     -0.994869323391895|    0.10116832198743272|   -0.9009688679024191|    -0.433883739117558|
|        2010-03-29|         2010|             3|                 29|                 2|6.123233995736766...|                 1.0|     0.9189578116202306|    -0.3943558551133187|  -0.22252093395631434|    0.9749279121818236|
|        2004-09-18|         2004|             9|                 18|                 7|-1.83697019872102...|                -1.0|    -0.8743466161445822|    -0.4853019625310808|                   1.0|  -2.44929359829470...|
|        2011-05-19|         2011|             5|                 19|                 5| -0.8660254037844387| 0.49999999999999994|    -0.7587581226927911|     -0.651372482722222|   -0.2225209339563146|   -0.9749279121818236|
|        2008-12-13|         2008|            12|                 13|                 7|                 1.0|-2.44929359829470...|    -0.8743466161445821|    0.48530196253108104|                   1.0|  -2.44929359829470...|
|        2005-08-08|         2005|             8|                  8|                 2| -0.5000000000000004| -0.8660254037844384|   -0.05064916883871264|     0.9987165071710528|  -0.22252093395631434|    0.9749279121818236|
|        2005-03-25|         2005|             3|                 25|                 6|6.123233995736766...|                 1.0|     0.3473052528448203|    -0.9377521321470804|    0.6234898018587334|   -0.7818314824680299|
|        2005-10-09|         2005|            10|                  9|                 1|  0.5000000000000001| -0.8660254037844386|    -0.2506525322587204|     0.9680771188662043|    0.6234898018587336|    0.7818314824680298|
|        2010-12-28|         2010|            12|                 28|                 3|                 1.0|-2.44929359829470...|     0.8207634412072763|    -0.5712682150947924|    -0.900968867902419|   0.43388373911755823|
+------------------+-------------+--------------+-------------------+------------------+--------------------+--------------------+-----------------------+-----------------------+----------------------+----------------------+
only showing top 20 rows

In [ ]:
ohe_encoder = OneHotEncoder(inputCols = list(indexer_dict.keys()),
                        outputCols = [col[:-6]+'_vec' for col in list(indexer_dict.keys())])
ohe_encoder = ohe_encoder.fit(data)
data = ohe_encoder.transform(data)

In [61]:
data.select('Bank Masked', 'Bank_Masked_index', 'Bank_Masked_vec').show()

+---------------+-----------------+--------------------+
|    Bank Masked|Bank_Masked_index|     Bank_Masked_vec|
+---------------+-----------------+--------------------+
|  Bank_Name_316|           1260.0|(42528,[1260],[1.0])|
| Bank_Name_1062|            563.0| (42528,[563],[1.0])|
|   Bank_Name_39|             21.0|  (42528,[21],[1.0])|
|    Bank_Name_3|              1.0|   (42528,[1],[1.0])|
|  Bank_Name_126|             33.0|  (42528,[33],[1.0])|
| Bank_Name_1281|           1419.0|(42528,[1419],[1.0])|
|   Bank_Name_33|             10.0|  (42528,[10],[1.0])|
|   Bank_Name_33|             10.0|  (42528,[10],[1.0])|
|Bank_Name_12778|           7154.0|(42528,[7154],[1.0])|
|   Bank_Name_17|              5.0|   (42528,[5],[1.0])|
|Bank_Number_346|            186.0| (42528,[186],[1.0])|
|   Bank_Name_47|             24.0|  (42528,[24],[1.0])|
| Bank_Number_93|             50.0|  (42528,[50],[1.0])|
|  Bank_Name_666|            248.0| (42528,[248],[1.0])|
|    Bank_Name_3|              1.0|   (42528,[1],[1.0])|
| Bank_Number_24|             13.0|  (42528,[13],[1.0])|
|   Bank_Name_11|              3.0|   (42528,[3],[1.0])|
|Bank_Name_36870|          24571.0|(42528,[24571],[1...|
|  Bank_Name_344|            110.0| (42528,[110],[1.0])|
|Bank_Number_238|           4978.0|(42528,[4978],[1.0])|
+---------------+-----------------+--------------------+
only showing top 20 rows

In [86]:
# assemble features in vector format
feature_columns = ['Approved_year', 'Term', 'Interest Rate', 'Employees', 'Gross Disbursed Amount', 
                   'Term_years', 'Jobs Retained', 'Male to Female Employees Ratio', 'Expected Company Income', 
                   'Funds available with company', 'Gross_Apprv_Amount', 'Jobs Generated', 'Balance Left', 'Final_Appved_Amount']\
                    + ['cos_approved_month', 'sin_approved_month', 
                       'cos_approved_dayofmonth', 'sin_approved_dayofmonth', 
                       'cos_approved_dayofweek', 'sin_approved_dayofweek']\
                    + vect_columns

df_va = VectorAssembler(inputCols = feature_columns, outputCol = 'features')
data = df_va.transform(data)

In [83]:
# total features
len(feature_columns)

31

In [87]:
data.show()

+--------------+---------------+---------+------------------+--------------------+--------------------+---------------------------+-------------+------------+----+-------------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+-------------------+------+--------------+-------------------+------------------+--------------------+--------------------+-----------------------+-----------------------+----------------------+----------------------+-----------------+---------------+-----------------+--------------------------+---------------------------------+------------------+---------------+-------------------------+-------------------+--------------------------+------------------------+--------------------+-------------+--------------------+------------------------+-------------------------------+----------------+--------------+-----------------------+-----------------+------------------------+----------------------+--------------------+
|Application ID|    Bank Masked|Bank Type|Approved_Timestamp|         Name Masked|Business Owner State|Business_Industry_Type_Code|Approved_year|New Business|Term|    BankState|Interest Rate|Employees|Gross Disbursed Amount|Term_years|Jobs Retained|Male to Female Employees Ratio|Expected Company Income|Funds available with company|Gross_Apprv_Amount|Company Branch Code|City or Rural|Jobs Generated|Carry-forward Credit|Documents Provided|Balance Left|Final_Appved_Amount|target|Approved_month|Approved_dayofmonth|Approved_dayofweek|  cos_approved_month|  sin_approved_month|cos_approved_dayofmonth|sin_approved_dayofmonth|cos_approved_dayofweek|sin_approved_dayofweek|Bank_Masked_index|Bank_Type_index|Name_Masked_index|Business_Owner_State_index|Business_Industry_Type_Code_index|New_Business_index|BankState_index|Company_Branch_Code_index|City_or_Rural_index|Carry-forward_Credit_index|Documents_Provided_index|     Bank_Masked_vec|Bank_Type_vec|     Name_Masked_vec|Business_Owner_State_vec|Business_Industry_Type_Code_vec|New_Business_vec| BankState_vec|Company_Branch_Code_vec|City_or_Rural_vec|Carry-forward_Credit_vec|Documents_Provided_vec|            features|
+--------------+---------------+---------+------------------+--------------------+--------------------+---------------------------+-------------+------------+----+-------------+-------------+---------+----------------------+----------+-------------+------------------------------+-----------------------+----------------------------+------------------+-------------------+-------------+--------------+--------------------+------------------+------------+-------------------+------+--------------+-------------------+------------------+--------------------+--------------------+-----------------------+-----------------------+----------------------+----------------------+-----------------+---------------+-----------------+--------------------------+---------------------------------+------------------+---------------+-------------------------+-------------------+--------------------------+------------------------+--------------------+-------------+--------------------+------------------------+-------------------------------+----------------+--------------+-----------------------+-----------------+------------------------+----------------------+--------------------+
|    1020200001|  Bank_Name_316|  Private|        2005-10-12| Business_Name_10007|       Uttar Pradesh|                     525161|         2005|           1| 219|Uttar Pradesh|            3|       42|              18550000|        18|           18|                             4|                3500000|                      780590|          18550000|              25650|            1|             3|                   N|                 N|           0|           13912500|     0|            10|                 12|                 4|  0.5000000000000001| -0.8660254037844386|    -0.7587581226927909|     0.6513724827222223|   -0.9009688679024191|    -0.433883739117558|           1260.0|            0.0|            768.0|                       3.0|                            239.0|               0.0|            3.0|                      6.0|                0.0|                       0.0|                     0.0|(42528,[1260],[1.0])|(1,[0],[1.0])|(150402,[768],[1.0])|           (9,[3],[1.0])|             (2074,[239],[1.0])|   (1,[0],[1.0])|(10,[3],[1.0])|       (1633,[6],[1.0])|    (2,[0],[1.0])|           (1,[0],[1.0])|         (1,[0],[1.0])|(196682,[0,1,2,3,...|
|    1020200002| Bank_Name_1062|     Govt|        2006-11-21|Business_Name_130906|       Uttar Pradesh|                       1231|         2006|           1|  71|Uttar Pradesh|            5|       20|               3045000|         6|           10|                            16|                1666667|                     1835637|           2450000|                  0|            1|             0|                   Y|                 N|           0|            1225000|     1|            11|                 21|                 3|  0.8660254037844384| -0.5000000000000004|   -0.44039415155763423|    -0.8978045395707417|    -0.900968867902419|   0.43388373911755823|            563.0|            1.0|          65746.0|                       3.0|                              0.0|               0.0|            3.0|                      1.0|                0.0|                       1.0|                     0.0| (42528,[563],[1.0])|    (1,[],[])|(150402,[65746],[...|           (9,[3],[1.0])|               (2074,[0],[1.0])|   (1,[0],[1.0])|(10,[3],[1.0])|       (1633,[1],[1.0])|    (2,[0],[1.0])|               (1,[],[])|         (1,[0],[1.0])|(196682,[0,1,2,3,...|
|    1020200003|   Bank_Name_39|  Private|        2007-11-28|Business_Name_105953|       Uttar Pradesh|                     322442|         2007|           2|  84|  Maharashtra|            8|       16|               1750000|         7|           10|                             8|                1333333|                     2373333|           1750000|                  0|            2|             2|                   Y|                 N|           0|            1487500|     0|            11|                 28|                 4|  0.8660254037844384| -0.5000000000000004|     0.8207634412072763|    -0.5712682150947924|   -0.9009688679024191|    -0.433883739117558|             21.0|            0.0|          47047.0|                       3.0|                           1014.0|               1.0|            1.0|                      1.0|                2.0|                       1.0|                     0.0|  (42528,[21],[1.0])|(1,[0],[1.0])|(150402,[47047],[...|           (9,[3],[1.0])|            (2074,[1014],[1.0])|       (1,[],[])|(10,[1],[1.0])|       (1633,[1],[1.0])|        (2,[],[])|               (1,[],[])|         (1,[0],[1.0])|(196682,[0,1,2,3,...|
|    1020200004|    Bank_Name_3|     Govt|        2009-04-18|Business_Name_103197|              Kerala|                       1231|         2009|           1| 300|        Delhi|            8|        4|              38850000|        25|            2|                             6|                 333333|                     2346786|          38850000|                  1|            1|             0|                   N|                 N|           0|           29137500|     0|             4|                 18|                 7| -0.4999999999999998|  0.8660254037844387|    -0.8743466161445822|    -0.4853019625310808|                   1.0|  -2.44929359829470...|              1.0|            1.0|          44998.0|                       9.0|                              0.0|               0.0|            0.0|                      0.0|                0.0|                       0.0|                     0.0|   (42528,[1],[1.0])|    (1,[],[])|(150402,[44998],[...|               (9,[],[])|               (2074,[0],[1.0])|   (1,[0],[1.0])|(10,[0],[1.0])|       (1633,[0],[1.0])|    (2,[0],[1.0])|           (1,[0],[1.0])|         (1,[0],[1.0])|(196682,[0,1,2,3,...|
|    1020200005|  Bank_Name_126|     Govt|        2002-11-23|Business_Name_118932|               Delhi|                       1231|         2002|           2| 153|  Maharashtra|           11|        4|               2800000|        13|            0|                             8|                 333333|                     2382995|           2800000|                  1|            2|             0|                   N|                 Y|           0|            2380000|     0|            11|                 23|                 7|  0.8660254037844384| -0.5000000000000004|   -0.05064916883871355|    -0.9987165071710528|                   1.0|  -2.44929359829470...|             33.0|            1.0|          56761.0|                       0.0|                              0.0|               1.0|            1.0|                      0.0|                2.0|                       0.0|                     1.0|  (42528,[33],[1.0])|    (1,[],[])|(150402,[56761],[...|           (9,[0],[1.0])|               (2074,[0],[1.0])|       (1,[],[])|(10,[1],[1.0])|       (1633,[0],[1.0])|        (2,[],[])|           (1,[0],[1.0])|             (1,[],[])|(196682,[0,1,2,3,...|
|    1020200006| Bank_Name_1281|  Private|        2009-12-23|Business_Name_135212|         Maharashtra|                     239391|         2009|           1|  84|  Maharashtra|            6|       10|              10500000|         7|            0|                            16|                 833333|                      392186|          10500000|                  1|            2|             0|                   N|                 Y|           0|            7875000|     0|            12|                 23|                 4|                 1.0|-2.44929359829470...|   -0.05064916883871355|    -0.9987165071710528|   -0.9009688679024191|    -0.433883739117558|           1419.0|            0.0|          68935.0|                       2.0|                            257.0|               0.0|            1.0|                      0.0|                2.0|                       0.0|                     1.0|(42528,[1419],[1.0])|(1,[0],[1.0])|(150402,[68935],[...|           (9,[2],[1.0])|             (2074,[257],[1.0])|   (1,[0],[1.0])|(10,[1],[1.0])|       (1633,[0],[1.0])|        (2,[],[])|           (1,[0],[1.0])|             (1,[],[])|(196682,[0,1,2,3,...|
|    1020200007|   Bank_Name_33|  Private|        2009-10-04| Business_Name_60742|               Delhi|                     423561|         2009|           2|  60|        Delhi|            6|        2|               2310000|         5|            0|                             9|                 166667|                     2496022|           2310000|                  1|            0|             0|                   N|                 Y|           0|            1848000|     0|            10|                  4|                 1|  0.5000000000000001| -0.8660254037844386|     0.6889669190756866|     0.7247927872291199|    0.6234898018587336|    0.7818314824680298|             10.0|            0.0|          27804.0|                       0.0|                            334.0|               1.0|            0.0|                      0.0|                1.0|                       0.0|                     1.0|  (42528,[10],[1.0])|(1,[0],[1.0])|(150402,[27804],[...|           (9,[0],[1.0])|             (2074,[334],[1.0])|       (1,[],[])|(10,[0],[1.0])|       (1633,[0],[1.0])|    (2,[1],[1.0])|           (1,[0],[1.0])|             (1,[],[])|(196682,[0,1,2,3,...|
|    1020200008|   Bank_Name_33|  Private|        2006-03-03| Business_Name_99424|       Uttar Pradesh|                     443530|         2006|           1|  60|        Delhi|            6|        6|               3500000|         5|            2|                             5|                 500000|                     1525676|           3500000|                  1|            0|             0|                   N|                 N|           0|            1750000|     0|             3|                  3|                 6|6.123233995736766...|                 1.0|     0.8207634412072763|     0.5712682150947923|    0.6234898018587334|   -0.7818314824680299|             10.0|            0.0|         149974.0|                       3.0|                            154.0|               0.0|            0.0|                      0.0|                1.0|                       0.0|                     0.0|  (42528,[10],[1.0])|(1,[0],[1.0])|(150402,[149974],...|           (9,[3],[1.0])|             (2074,[154],[1.0])|   (1,[0],[1.0])|(10,[0],[1.0])|       (1633,[0],[1.0])|    (2,[1],[1.0])|           (1,[0],[1.0])|         (1,[0],[1.0])|(196682,[0,1,2,3,...|
|    1020200009|Bank_Name_12778|     Govt|        2017-08-03|Business_Name_146709|             Haryana|                       1231|         2017|           2|  73|      Haryana|            5|        2|               4900000|         6|            0|                            10|                 166667|                     2358557|           4900000|                  1|            0|             0|                   N|                 Y|           0|            3920000|     0|             8|                  3|                 5| -0.5000000000000004| -0.8660254037844384|     0.8207634412072763|     0.5712682150947923|   -0.2225209339563146|   -0.9749279121818236|           7154.0|            1.0|          77478.0|                       1.0|                              0.0|               1.0|            2.0|                      0.0|                1.0|                       0.0|                     1.0|(42528,[7154],[1.0])|    (1,[],[])|(150402,[77478],[...|           (9,[1],[1.0])|               (2074,[0],[1.0])|       (1,[],[])|(10,[2],[1.0])|       (1633,[0],[1.0])|    (2,[1],[1.0])|           (1,[0],[1.0])|             (1,[],[])|(196682,[0,1,2,3,...|
|    1020200010|   Bank_Name_17|  Private|        2017-06-20| Business_Name_17874|         Maharashtra|                     542341|         2017|           1| 120|        Delhi|           12|       60|              42000000|        10|            0|                            10|                5000000|                     1186740|          42000000|                  1|            0|             0|                   N|                 N|           0|           31500000|     0|             6|                 20|                 3|                -1.0|1.224646799147353...|    -0.6121059825476627|    -0.7907757369376986|    -0.900968867902419|   0.43388373911755823|              5.0|            0.0|           4923.0|                       2.0|                             17.0|               0.0|            0.0|                      0.0|                1.0|                       0.0|                     0.0|   (42528,[5],[1.0])|(1,[0],[1.0])|(150402,[4923],[1...|           (9,[2],[1.0])|              (2074,[17],[1.0])|   (1,[0],[1.0])|(10,[0],[1.0])|       (1633,[0],[1.0])|    (2,[1],[1.0])|           (1,[0],[1.0])|         (1,[0],[1.0])|(196682,[0,1,2,3,...|
|    1020200011|Bank_Number_346|     Govt|        2010-09-05| Business_Name_17760|       Uttar Pradesh|                       1230|         2010|           1| 303|Uttar Pradesh|            8|        8|               9800000|        25|            0|                            21|               33600000|                     1547232|           9800000|                  1|            0|             0|                   N|                 N|           0|            7350000|     1|             9|                  5|                 1|-1.83697019872102...|                -1.0|     0.5289640103269624|     0.8486442574947509|    0.6234898018587336|    0.7818314824680298|            186.0|            1.0|            307.0|                       3.0|                              1.0|               0.0|            3.0|                      0.0|                1.0|                       0.0|                     0.0| (42528,[186],[1.0])|    (1,[],[])|(150402,[307],[1.0])|           (9,[3],[1.0])|               (2074,[1],[1.0])|   (1,[0],[1.0])|(10,[3],[1.0])|       (1633,[0],[1.0])|    (2,[1],[1.0])|           (1,[0],[1.0])|         (1,[0],[1.0])|(196682,[0,1,2,3,...|
|    1020200012|   Bank_Name_47|  Private|        2010-09-15| Business_Name_98384|             Haryana|                     813541|         2010|           1|  82|        Delhi|           11|        4|              19600000|         7|            0|                             4|                 333333|                      349235|          19600000|                  1|            2|             0|                   N|                 N|           0|           14700000|     0|             9|                 15|                 4|-1.83697019872102...|                -1.0|     -0.994869323391895|    0.10116832198743272|   -0.9009688679024191|    -0.433883739117558|             24.0|            0.0|         149211.0|                       1.0|                             43.0|               0.0|            0.0|                      0.0|                2.0|                       0.0|                     0.0|  (42528,[24],[1.0])|(1,[0],[1.0])|(150402,[149211],...|           (9,[1],[1.0])|              (2074,[43],[1.0])|   (1,[0],[1.0])|(10,[0],[1.0])|       (1633,[0],[1.0])|        (2,[],[])|           (1,[0],[1.0])|         (1,[0],[1.0])|(196682,[0,1,2,3,...|
|    1020200013| Bank_Number_93|     Govt|        2010-03-29| Business_Name_65515|               Delhi|                       1230|         2010|           1|  24|        Delhi|           11|        5|               7910000|         2|            0|                            33|               33000000|                      267120|           7910000|                  1|            0|             0|                   N|                 N|           0|            5932500|     0|             3|                 29|                 2|6.123233995736766...|                 1.0|     0.9189578116202306|    -0.3943558551133187|  -0.22252093395631434|    0.9749279121818236|             50.0|            1.0|         130629.0|                       0.0|                              1.0|               0.0|            0.0|                      0.0|                1.0|                       0.0|                     0.0|  (42528,[50],[1.0])|    (1,[],[])|(150402,[130629],...|           (9,[0],[1.0])|               (2074,[1],[1.0])|   (1,[0],[1.0])|(10,[0],[1.0])|       (1633,[0],[1.0])|    (2,[1],[1.0])|           (1,[0],[1.0])|         (1,[0],[1.0])|(196682,[0,1,2,3,...|
|    1020200014|  Bank_Name_666|  Private|        2004-09-18| Business_Name_11879|         Maharashtra|                     625641|         2004|           1| 240|  Maharashtra|            8|       14|               6930000|        20|            4|                             3|                1166667|                     1323194|           6930000|                  1|            0|             3|                   N|                 N|           0|            6930000|     0|             9|                 18|                 7|-1.83697019872102...|                -1.0|    -0.8743466161445822|    -0.4853019625310808|                   1.0|  -2.44929359829470...|            248.0|            0.0|           1767.0|                       2.0|                              8.0|               0.0|            1.0|                      0.0|                1.0|                       0.0|                     0.0| (42528,[248],[1.0])|(1,[0],[1.0])|(150402,[1767],[1...|           (9,[2],[1.0])|               (2074,[8],[1.0])|   (1,[0],[1.0])|(10,[1],[1.0])|       (1633,[0],[1.0])|    (2,[1],[1.0])|           (1,[0],[1.0])|         (1,[0],[1.0])|(196682,[0,1,2,3,...|

In [91]:
# train/test split
train, test = data.randomSplit([0.7, 0.3], seed=135468)

## Some models

In [5]:
lrModel = LogisticRegression(featuresCol='features', labelCol='target', predictionCol='prediction',
                        maxIter=10, probabilityCol='proba')

lrModel = lrModel.fit(test)

ERROR:root:Exception while sending command.
Traceback (most recent call last):
  File "C:\Users\Mr Rozum\miniconda3\envs\gru_torch\lib\site-packages\IPython\core\interactiveshell.py", line 3460, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Mr Rozum\AppData\Local\Temp\ipykernel_26540\3793522769.py", line 4, in <module>
    lrModel = lrModel.fit(test)
  File "C:\Users\Mr Rozum\miniconda3\envs\gru_torch\lib\site-packages\pyspark\ml\base.py", line 161, in fit
    return self._fit(dataset)
  File "C:\Users\Mr Rozum\miniconda3\envs\gru_torch\lib\site-packages\pyspark\ml\wrapper.py", line 335, in _fit
    java_model = self._fit_java(dataset)
  File "C:\Users\Mr Rozum\miniconda3\envs\gru_torch\lib\site-packages\pyspark\ml\wrapper.py", line 332, in _fit_java
    return self._java_obj.fit(dataset._jdf)
  File "C:\Users\Mr Rozum\miniconda3\envs\gru_torch\lib\site-packages\py4j\java_gateway.py", line 1321, in __call__
    return_value = get_return_value(
  File "C:\Users\Mr Rozum\miniconda3\envs\gru_torch\lib\site-packages\pyspark\sql\utils.py", line 111, in deco
    return f(*a, **kw)
  File "C:\Users\Mr Rozum\miniconda3\envs\gru_torch\lib\site-packages\py4j\protocol.py", line 326, in get_return_value
    raise Py4JJavaError(
py4j.protocol.Py4JJavaError: <unprintable Py4JJavaError object>

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Mr Rozum\miniconda3\envs\gru_torch\lib\site-packages\py4j\clientserver.py", line 475, in send_command
    answer = smart_decode(self.stream.readline()[:-1])
  File "C:\Users\Mr Rozum\miniconda3\envs\gru_torch\lib\socket.py", line 705, in readinto
    return self._sock.recv_into(b)
ConnectionResetError: [WinError 10054] Удаленный хост принудительно разорвал существующее подключение

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Mr Rozum\miniconda3\envs\gru_torch\lib\site-packages\py4j\java_gateway.py", line 1038, in send_command
    response = connection.send_command(command)
  File "C:\Users\Mr Rozum\miniconda3\envs\gru_torch\lib\site-packages\py4j\clientserver.py", line 503, in send_command
    raise Py4JNetworkError(
py4j.protocol.Py4JNetworkError: Error while sending or receiving

ConnectionRefusedError: [WinError 10061] Подключение не установлено, т.к. конечный компьютер отверг запрос на подключение

In [4]:
print(">>> Model parameters:")
print(">>> Coefficients: " + str(lrModel.coefficients))
print(">>> Intercept: " + str(lrModel.intercept))
print(f'>>> ROC_AUC = {lrModel.summary.areaUnderROC}')

>>> Model parameters:

NameError: name 'lrModel' is not defined

In [ ]:
# ROC curve
roc = trainingSummary.roc.toPandas()
plt.plot(roc['FPR'],roc['TPR'])
plt.ylabel('False Positive Rate')
plt.xlabel('True Positive Rate')
plt.title('ROC Curve')
plt.show()
print('Training set areaUnderROC: ' + str(trainingSummary.areaUnderROC))

In [ ]:
# precision-recall curve
pr = trainingSummary.pr.toPandas()
plt.plot(pr['recall'],pr['precision'])
plt.ylabel('Precision')
plt.xlabel('Recall')
plt.show()

## Проверять отсюда

In [3]:
# preprocess pipeline

# ---------
# read data
data = spark.read.csv('Train_Set_90621.csv', header=True, inferSchema=True)
data = data.drop('Amount Defaulted').withColumnRenamed('Default_Status', 'target')

# --------------------------------
# process Nan and small categories
data = data.fillna({'Bank Masked': 'Other', 
                    'Bank Type': 'Private', 
                    'Business Owner State': 'Delhi', 
                    'New Business': 1,
                    'BankState': 'Delhi',
                    'Carry-forward Credit': 'N',
                    'Documents Provided': 'N'})\
            .withColumn("BankState", when(col('BankState') == 0, 'Delhi').otherwise(col('BankState')))\
            .withColumn("New Business", when(col('New Business') == 0, 2).otherwise(col('New Business')))

# ---------------------
# drop na for some cols
drop_na_cols = ['Approved_Timestamp', 'Name Masked']
data = data.dropna(subset=drop_na_cols)

# ----------------------------------
# fill na with mean for numeric cols
fill_mean_cols = ['Expected Company Income']
imputer = Imputer(inputCols=fill_mean_cols, outputCols=fill_mean_cols, strategy='mean')
imputer = imputer.fit(data)
data = imputer.transform(data)

# -----------------------------
# create sin/col cols from date
data = data.withColumn('Approved_Timestamp', F.to_date(col("Approved_Timestamp"),"dd-MM-yyyy"))\
    .withColumn('Approved_year', F.year('Approved_Timestamp'))\
    .withColumn('Approved_month', F.month('Approved_Timestamp'))\
    .withColumn('Approved_dayofmonth', F.dayofmonth('Approved_Timestamp'))\
    .withColumn('Approved_dayofweek', F.dayofweek('Approved_Timestamp'))\
    .withColumn('cos_approved_month', F.cos(F.col('Approved_month') * 2 * np.pi / 12.))\
    .withColumn('sin_approved_month', F.sin(F.col('Approved_month') * 2 * np.pi / 12.))\
    .withColumn('cos_approved_dayofmonth', F.cos(F.col('Approved_dayofmonth') * 2 * np.pi / 31.))\
    .withColumn('sin_approved_dayofmonth', F.sin(F.col('Approved_dayofmonth') * 2 * np.pi / 31.))\
    .withColumn('cos_approved_dayofweek', F.cos(F.col('Approved_dayofweek') * 2 * np.pi / 7.))\
    .withColumn('sin_approved_dayofweek', F.sin(F.col('Approved_dayofweek') * 2 * np.pi / 7.))

# ----------------------
# category cols to index
index_cols = ['Bank Masked', 'Bank Type', 'Name Masked', 
              'Business Owner State', 'Business_Industry_Type_Code', 'New Business', 
              'BankState', 'Company Branch Code', 'City or Rural',
              'Carry-forward Credit', 'Documents Provided']

res_index_cols = [col.replace(" ", "_")+'_index' for col in index_cols]
vect_columns = [col[:-6]+'_vec' for col in res_index_cols]

Bank_Masked_index = StringIndexer(inputCol = 'Bank Masked', outputCol = 'Bank_Masked_index', handleInvalid='keep')
Bank_Type_index = StringIndexer(inputCol = 'Bank Type', outputCol = 'Bank_Type_index', handleInvalid='keep')
Name_Masked_index = StringIndexer(inputCol = 'Name Masked', outputCol = 'Name_Masked_index', handleInvalid='keep')
Business_Owner_State_index = StringIndexer(inputCol = 'Business Owner State', outputCol = 'Business_Owner_State_index', handleInvalid='keep')
Business_Industry_Type_Code_index = StringIndexer(inputCol = 'Business_Industry_Type_Code', outputCol = 'Business_Industry_Type_Code_index', handleInvalid='keep')
New_Business_index = StringIndexer(inputCol = 'New Business', outputCol = 'New_Business_index', handleInvalid='keep')
BankState_index = StringIndexer(inputCol = 'BankState', outputCol = 'BankState_index', handleInvalid='keep')
Company_Branch_Code_index = StringIndexer(inputCol = 'Company Branch Code', outputCol = 'Company_Branch_Code_index', handleInvalid='keep')
City_or_Rural_index = StringIndexer(inputCol = 'City or Rural', outputCol = 'City_or_Rural_index', handleInvalid='keep')
Carry_forward_Credit_index = StringIndexer(inputCol = 'Carry-forward Credit', outputCol = 'Carry-forward_Credit_index', handleInvalid='keep')
Documents_Provided_index = StringIndexer(inputCol = 'Documents Provided', outputCol = 'Documents_Provided_index', handleInvalid='keep')

# indexer_dict = {}
# for column in index_cols:
#     new_name = column.replace(" ", "_")+'_index'
# #     print(f"{column}, {new_name}")
#     indexer = StringIndexer(inputCol = column, outputCol = new_name)
#     indexer = indexer.fit(data)
#     data = indexer.transform(data)
#     indexer_dict[new_name] = indexer

# ------------
# ohe encoding
# vect_columns = [col[:-6]+'_vec' for col in list(indexer_dict.keys())]
ohe_encoder = OneHotEncoder(inputCols = res_index_cols,
                        outputCols = vect_columns)
# ohe_encoder = ohe_encoder.fit(data)
# data = ohe_encoder.transform(data)

# ----------------------------------
# assemble features in vector format
feature_columns = ['Approved_year', 'Term', 'Interest Rate', 'Employees', 'Gross Disbursed Amount', 
                   'Term_years', 'Jobs Retained', 'Male to Female Employees Ratio', 'Expected Company Income', 
                   'Funds available with company', 'Gross_Apprv_Amount', 'Jobs Generated', 'Balance Left', 'Final_Appved_Amount']\
                    + ['cos_approved_month', 'sin_approved_month', 
                       'cos_approved_dayofmonth', 'sin_approved_dayofmonth', 
                       'cos_approved_dayofweek', 'sin_approved_dayofweek']\
                    + vect_columns

vector_assembler = VectorAssembler(inputCols = feature_columns, outputCol = 'features')

rfModel = RandomForestClassifier(featuresCol = 'features', labelCol = 'target', predictionCol='prediction',probabilityCol='proba', 
                                  numTrees=10,  maxDepth=7, seed=145795, subsamplingRate=0.5)

# data = df_va.transform(data)

In [ ]:
pipeline = Pipeline(stages=[
                            Bank_Masked_index,
                            Bank_Type_index,
                            Name_Masked_index,
                            Business_Owner_State_index,
                            Business_Industry_Type_Code_index,
                            New_Business_index,
                            BankState_index,
                            Company_Branch_Code_index,
                            City_or_Rural_index,
                            Carry_forward_Credit_index,
                            Documents_Provided_index,
                            ohe_encoder,
                            vector_assembler,
                            rfModel
])

paramGrid = ParamGridBuilder()\
    .addGrid(rfModel.maxDepth, [5, 3]) \
    .build()

tvs = TrainValidationSplit(estimator=pipeline,
                           estimatorParamMaps=paramGrid,
                           evaluator=BinaryClassificationEvaluator(rawPredictionCol='prediction',
                                                                  labelCol='target', metricName='areaUnderROC'),
                           # 80% of the data will be used for training, 20% for validation.
                           trainRatio=0.7)

train, test = data.randomSplit([0.7, 0.3], seed=135468)

model = tvs.fit(train)

rf_test_pred = model.transform(test)

rf_evaluator = BinaryClassificationEvaluator(rawPredictionCol='prediction', labelCol = 'target')
print("Test Area Under ROC: " + str(rf_evaluator.evaluate(rf_test_pred, {rf_evaluator.metricName: "areaUnderROC"})))

In [ ]:
tvs.write().save('model')